.login-form-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  width: 100%;
  max-width: 638px;
  padding-left: 0;
  font-family: "Montserrat", Bw, Arial, Helvetica, sans-serif;
  letter-spacing: -2px;
  /* aligns with input group */
}
.login-form {
  width: 100%;
  max-width: 638px;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
.login-input-group {
  position: relative;
  margin-bottom: 2.2rem;
  width: 100%;
  max-width: 638px;
}